<!-- footer section -->
<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrap">
      <div class="footer-thumb">
        <a href="../index.html">
          <img
            class="footer-img"
            src="./img/logo.png"
            alt="Logo with a yacht"
            width="18"
            height="18"
          />
        </a>
        <a href="../index.html">
        <svg class="footer-logo-text" width="146" height="10">
          <use href="./img/icons.svg#icon-logo-text"></use>
        </svg>
      </a>
      </div>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="footer-nav-item">
            <a class="nav-link" href="#yachts">Yachts</a>
          </li>
          <li class="footer-nav-item">
            <a class="nav-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <div class="footer-networks-thumb">
        <p class="footer-networks-text">We in social</p>
        <ul class="footer-networks-list">
          <li class="footer-networks-item">
            <a
              class="footer-networks-link"
              href="https://www.facebook.com/"
              aria-label="logo facebook"
              target="_blank"
            >
              <svg class="footer-networks-icon" width="8" height="16">
                <use href="./img/icons.svg#fb-icon"></use>
                <!-- <defs>
                        <linearGradient id="paint0_linear_92_2210" x1="5.05923" y1="0.27344" x2="10.2238" y2="0.374922" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#BEC7C2"/>
                        <stop offset="1" stop-color="#A1B5BA"/>
                        </linearGradient>
                        </defs> -->
              </svg>
            </a>
          </li>
          <li class="footer-networks-item">
            <a
              class="footer-networks-link"
              href="https://www.instagram.com/"
              aria-label="logo instagram"
              target="_blank"
            >
              <svg
                class="footer-networks-icon icon-instagram"
                width="15"
                height="15"
              >
                <use href="./img/icons.svg#instagram-icon"></use>
              </svg>
            </a>
          </li>
          <li class="footer-networks-item">
            <a
              class="footer-networks-link"
              href="https://www.youtube.com/"
              aria-label="logo youtube"
              target="_blank"
            >
              <svg
                class="footer-networks-icon icon-youtube"
                width="17"
                height="17"
              >
                <use href="./img/icons.svg#youtube-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="footer-remark-list">
      <li class="footer-remark-item">
        <a class="footer-remark-link" href="">2023. Yacht Adventures</a>
      </li>
      <li class="footer-remark-item">
        <a class="footer-remark-link" href="">Privacy Police</a>
      </li>
    </ul>
    <div class="footer-ellipse"></div>
    <div class="footer-ellipse-next"></div>
  </div>
</footer>
