<section class="hero-section">
    <div class="hero-container">
        <h1 class="hero-title">Explore the High Seas with <span class="luxury-text">Our Luxury Yacht Rentals</span>
        </h1>
        <p class="hero-text">Experience the freedom and luxury of yachting on the open seas. Choose from our
            top-of-the-line yachts and embark on an
            unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.</p>
        <ul class="bttn-list">
            <li class="bttn-item">
                <button type="button" class="bttn-get-started">Get Started</button>
            </li>
            <li class="bttn-item">
                <button type="button" class="bttn-explore">Explore</button>
            </li>
        </ul>
    </div>
    <div class="hero-ellipse-first"></div>
    <div class="hero-ellipse-second"></div>
    <div class="hero-owner-container">
        <div class="hero-owner-block">
            <img src="../img/hero/card@1x-mob.png" srcset="../img/hero/card@2x-mob.png" class="background-hero-image"
                alt="background image" width="335" height="427">
            <img src="../img/hero/yaht-mob@1x_result.png" srcset="../img/hero/yaht-mob@2x_result.png"
                class="hero-owner-yaht" alt="yaht for owner" width="287" height="167">
            <img src="../img/hero/client-big-mob@1x_result.png" srcset="../img/hero/client-big-mob@2x_result.png"
                class="hero-owner-image" alt="owner of the yaht club" width="133" height="133">
            <ul class="hero-clients-block">
                <li class="hero-client-first">
                    <img src="../img/hero/client1-mob@1x_result.png" srcset="../img/hero/client1-mob@2x_result.png"
                        alt="client of the yaht club" width="48" height="48">
                </li>
                <li class="hero-client-second">
                    <img src="../img/hero/client2-mob@1x_result.png" srcset="../img/hero/client2-mob@2x_result.png"
                        alt="client of the yaht club" width="48" height="48">
                </li>
                <li class="hero-client-third">
                    <img src="../img/hero/client3-mob@1x_result.png" srcset="../img/hero/client3-mob@2x_result.png"
                        alt="client of the yaht club" width="48" height="48">
                </li>
                <li class="hero-clients-text">
                    <p class="clients-text-item">OUR CLIENTS</p>
                </li>
            </ul>
        </div>
    </div>
</section>