<section class="hero-section">
    <div class="hero-first-box container">
        <div class="hero-container">
            <h1 class="hero-title">Explore the High Seas with <span class="luxury-text">Our Luxury Yacht</span> Rentals
            </h1>
            <p class="hero-text">Experience the freedom and luxury of yachting on the open seas. Choose from our
                top-of-the-line yachts and embark on an
                unforgettable journey surrounded by breathtaking views and state-of-the-art amenities.</p>
            <ul class="bttn-list">
                <li class="bttn-item">
                    <button type="button" class="bttn-get-started" href="#rent">Get Started</button>
                </li>
                <li class="bttn-item">
                    <button type="button" class="bttn-explore" href="#services">Explore</button>
                </li>
            </ul>
        </div>
        <div class="hero-owner-container">
            <div class="hero-owner-block">
                <img src="/img/hero/yaht-mob@1x_result.png"
                    srcset="/img/hero/yaht-mob@2x_result.png, /img/hero/yaht-tab@2x_result.png" class="hero-owner-yaht"
                    alt="yaht for owner" width="287" height="167">
                <img src="/img/hero/client-big-mob@1x_result.png"
                    srcset="/img/hero/client-big-mob@2x_result.png, /img/hero/client-big-tab@2x_result.png"
                    class="hero-owner-image" alt="owner of the yaht club" width="133" height="133">
                <ul class="hero-clients-block">
                    <li class="hero-client-first">
                        <img src="/img/hero/client1-mob@1x_result.png"
                            srcset="/img/hero/client1-mob@2x_result.png, /img/hero/client1-tab@2x_result.png"
                            alt="client of the yaht club" width="48" height="48">
                    </li>
                    <li class="hero-client-second">
                        <img src="/img/hero/client2-mob@1x_result.png"
                            srcset="/img/hero/client2-mob@2x_result.png, /img/hero/client2-tab@2x_result.png"
                            alt="client of the yaht club" width="48" height="48">
                    </li>
                    <li class="hero-client-third">
                        <img src="/img/hero/client3-mob@1x_result.png"
                            srcset="/img/hero/client3-mob@2x_result.png, /img/hero/client3-tab@2x_result.png"
                            alt="client of the yaht club" width="48" height="48">
                    </li>
                    <li class="hero-clients-text">
                        <p class="clients-text-item">OUR CLIENTS</p>
                    </li>
                </ul>
                <p class="hero-owner-text">$12M <span class="hero-owner-text-item">Book now and make your dream yacht
                        rental
                        a reality</span></p>
                <div class="hero-ellipse-first"></div>
                <div class="hero-ellipse-second"></div>
                <div class="hero-ellipse-third"></div>
            </div>
        </div>
    </div>
</section>