<section id="reviews" class="reviews">
  <link rel="stylesheet" href="../css/reviews.css" />
  <div class="container">
    <div class="reviews-wrap-title">
      <h3 class="reviews-title-yacht">
        Yacht Adventures
        <span class="reviews-title-other">
          take pride in providing the best possible service and experience to
          our customers</span
        >
      </h3>
      <!-- <div class="flex-paragraph"> -->
      <p class="reviews-customers">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
      <!-- </div> -->
    </div>
    <ul class="customers-list">
      <li class="customers-item">
        <div class="customers-card">
          <img
            class="customers-card-img"
            srcset="
              /img/reviews/client1-mob@1x.png 1x,
              /img/reviews/client1-mob@2x.png 2x
            "
            src="/img/reviews/client1-mob@1x.png"
            alt="client1"
          />
          <p class="customers-name">John Wax</p>
          <p class="customers-review">
            I rented the Lagoon 620 with my family for a week-long vacation and
            it was the best decision ever. The yacht was spacious, comfortable,
            and luxurious, and the crew took care of everything.
          </p>
        </div>
      </li>
      <li class="customers-item hidden-only-mob list">
        <div class="customers-card">
          <img
            class="customers-card-img"
            srcset="
              /img/reviews/client2-mob@1x.png 1x,
              /img/reviews/client2-mob@2x.png 2x
            "
            src="/img/reviews/client2-mob@1x.png"
            alt="client2"
          />
          <p class="customers-name">Victoria Romashenko</p>
          <p class="customers-review">
            The Sunseeker Manhattan 66 was the perfect choice for our romantic
            getaway. The yacht was beautifully designed, with all the amenities
            we needed, and the crew was attentive and friendly.
          </p>
        </div>
      </li>
      <li class="customers-item hidden-for-tab-and-mob list">
        <div class="customers-card">
          <img
            class="customers-card-img"
            srcset="
              /img/reviews/client3-mob@1x.png 1x,
              /img/reviews/client3-mob@2x.png 2x
            "
            src="/img/reviews/client3-mob@1x.png"
            alt="client3"
          />
          <p class="customers-name">Ihor Trachuk</p>
          <p class="customers-review">
            The Azimut 80 was the most luxurious yacht I've ever been on. The
            cabins were spacious and elegant, and the outdoor areas were perfect
            for relaxing and entertaining. Worth every penny!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
