<!-- Section Services-->

<section id="services" class="section services">
    <div class="container services-container">

        <div class="services-background"></div>
        <h2 class="services-title" hidden>Services</h2>

        <ul class="services-list">
            <li class="services-item">
                <div class="services-wrapper">
                    <img class="services-img img-one"
                        srcset="/img/services/diving-desk@1x.png 1x, /img/services/diving-desk@2x.png 2x"
                        src="/img/services/diving-desk@1x.png" alt="Diving" width="712" height="632" />
                    <a class="services-link" href="#rent">Diving</a>
                </div>
            </li>

            <li class="services-item">
                <div class="services-wrapper">
                    <img class="services-img img-two"
                        srcset="/img/services/fishing-desk@1x.png 1x, /img/services/fishing-desk@2x.png 2x"
                        src="/img/services/fishing-desk@1x.png" alt="Fishing" width="440" height="428" />
                    <a class="services-link" href="#rent">Fishing</a>
                </div>
            </li>

            <li class="services-item">
                <div class="services-wrapper">
                    <img class="services-img img-three"
                        srcset="/img/services/sunbathing-desk@1x.png 1x, /img/services/sunbathing-desk@2x.png 2x"
                        src="/img/services/sunbathing-desk@1x.png" alt="Sunbathing" width="436" height="352" />
                    <a class="services-link" href="#rent">Sunbathing</a>
                </div>
            </li>
        </ul>

    </div>
</section>