body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
    color: var(--primary-text-color);
    background-color: var(--bg-color);


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
main {
    overflow-x: hidden;
}
.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;

    /* outline:2px solid red; */
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        /* overflow: hidden; */
    }
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}