.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
    .header {
    padding-top: 32px;
    padding-bottom: 32px;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 768px) {
    .header-container {
        max-width: 768px;
    }
}
@media screen and (min-width: 1280px) {
    .header-container {
        max-width: 1280px;
    }
}

.header-container::after {
    display: flex;
    position: absolute;
    content: " ";
    width: 100%;
    max-width: 335px;
    height: 1px;
    padding-right: 24px;
    background-color: rgba(246, 245, 239, 0.20);
    margin-top: 72px;
}
@media screen and (min-width: 768px) {
    .header-container::after {
        max-width: 704px;
        margin-top: 86px;
    }
}
@media screen and (min-width: 1280px) {
    .header-container::after {
        max-width: 1216px;
    }
}

/*.header-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 0 auto;
}*/

.header-link-logo {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.header-link-logo {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    text-decoration: none;
    /*padding-top: 28px;
    padding-bottom: 28px;*/
}
@media only screen and (min-width: 768px) {
.header-link-logo {
    font-size: 18px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    /*padding-top: 33px;
    padding-bottom: 33px;*/
}
}
.header-icon-logo {
    width: 16px;
    height: 18px;
}
@media only screen and (min-width: 768px) {
    .header-icon-logo {
        width: 20px;
        height: 23px;
    }
}
.header-list {
    display: flex;
    gap: 24px;
    padding: 0;
}
@media screen and (max-width: 767.98px) {
    .header-list {
        display: none;
    }
}
.header-nav-link {
    color: var(--primary-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.menu-toggle {
    /*  min-height: 24px;
      min-width: 24px;*/
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      background-color: transparent;
      border: none;
      outline: none;
      margin-left: auto;
  }
  @media (min-width: 768px) {
      .menu-toggle {
          display: none;
      }
  }
  .menu-toggle-icon {
      fill: var(--primary-text-color);
      background-color: transparent;
  }
  
/*Mobile menu styles*/

.mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--bg-color);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
/*@media screen and (max-width: 320px) {
    .mobile-menu-container {
        display: none;
    }
}*/
@media screen and (min-width: 768px) {
    .mobile-menu-container {
        display: none;
    }
}
/*.mobile-menu-container::before {
    display: block;
    position: absolute;
    content: " ";
    width: 88vw;
    height: 1px;
    background-color: rgba(246, 245, 239, 0.20);
    top: 72px;
} */

.mobile-menu-container.is-open {
    transform: translateX(0);
}

.mobile-menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    color: var(--primary-text-color);
    width: 24px;
    height: 24px;
} 

.mobile-menu-container.is-open::after {
content: " ";
position: absolute;
height: 279px;
width: 279px;
border-radius: 279px;
opacity: 0.8999999761581421;
background-color: #939CAC;
filter: blur(100px);
transform: rotate(34deg) translateX(-20px) translateY(220px);
}
.mobile-menu-container.is-open::before {
    content: " ";
    position: absolute;
    height: 279px;
    width: 279px;
    border-radius: 279px;
    opacity: 0.8999999761581421;
    background-color: #939CAC;
    filter: blur(100px);
    transform: rotate(34deg) translateX(400px) translateY(330px);
    }

@media screen and (min-width: 768px) {
.mobile-menu-list::after {
    transform: none;
}
}
.mobile-close-icon {
    stroke: var(--primary-text-color);
}

.mobile-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 0 auto; 
}
.mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    gap: 14px;
    padding: 0;
    padding-top: 140px;
    list-style: none;
}
.mobile-menu-item {

}
/*.mobile-menu-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    color: var(--primary-text-color);
    text-decoration: none;
}*/
.mobile-modal-link {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    color: var(--primary-text-color);
    text-decoration: none;
}
.mobile-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 0 auto;
   /* min-width: 170px;*/
}
.mobile-line {
    padding-bottom: 24px;
    padding-right: 0;
    border-bottom: 1px solid rgba(246, 245, 239, 0.20);
}
/*.mobile-ellipse::after {
    content: " ";
    position: absolute;
    height: 279px;
    width: 279px;
    border-radius: 279px;
    opacity: 0.8999999761581421;
    background-color: #939CAC;
    filter: blur(100px);
    transform: rotate(34deg) translateX(-20px) translateY(220px);
}*/