.hero-container {
    display: flex;
    min-width: 335px;
    flex-direction: column;
    align-items: flex-start;
}
@media only screen and (min-width: 1280px) {
   .hero-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px 32px;
    min-width: 554px;
    min-height: 360px;
    margin-left: 694px;
    margin-top: 132px;
    margin-right: 32px;
  }
}
.hero-title {
    min-width: 332px;
    color: #F6F5EF;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -1.62px;
    margin-left: 20px;
    margin-right: 23px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .hero-title {
    font-family: DM Sans;
    min-width: 698px;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -2.7px;
    margin-left: 32px;
    margin-top: 64px;
    margin-right: 38px;
  }
}
@media only screen and (min-width: 1280px) {
   .hero-title {
    font-family: DM Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -2.7px;
    margin: 0;
  }
}

.hero-text {
    color: #F6F5EF;
    min-width: 332px;
    margin-left: 20px;
    margin-right: 23px;
    font-family: DM Sans;
    margin-top: 14px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.28px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
   .hero-text {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.32px;
    width: 539px;
    min-height: 66px;
    margin-left: 32px;
    margin-top: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-text {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.32px;
    margin: 0;
  }
}
.luxury-text {
    background: var(--linear-green, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -1.62px;
}
@media only screen and (min-width: 768px) {
   .luxury-text {
    background: var(--linear-green, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: DM Sans;
    font-size: 60px;
    font-style: italic;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -2.7px;
  }
}
.bttn-get-started {
    border-radius: 60px;
    min-width: 130px;
    height: 43px;
    background-color: #93ABAE;
    border: solid 1px transparent;
    color: #F6F5EF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.63px;
}
.bttn-get-started:hover {
    background-color: #88B3B9;
}
.bttn-explore {
    min-width: 104px;
    height: 43px;
    border-radius: 60px;
    border: 1px solid #F6F5EF;
    color: var(--white, #F6F5EF);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: -0.63px;
    background-color: #1F212D;
}
.bttn-explore:hover {
  color: #93ABAE;
  border: 1px solid #93ABAE;
}
.bttn-list {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-top: 24px;
    margin-left: 20px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .bttn-list {
    gap: 11px;
    margin-left: 32px;
    margin-top: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .bttn-list {
    gap: 11px;
    margin: 0;
  }
}
.hero-ellipse-first::before {
  width: 279px;
  content: '';
  position: absolute;
  height: 279px;
  transform: rotate(-44.916deg);
  border-radius: 279px;
  opacity: 0.6000000238418579;
  background: #91AFBA;
  filter: blur(100px);
  right: 90%;
  bottom: 25%;
}
.hero-ellipse-second::before {
  width: 279px;
  content: '';
  position: absolute;
  height: 279px;
  transform: rotate(-44.916deg);
  border-radius: 279px;
  opacity: 0.8999999761581421;
  background: #939CAC;
  filter: blur(100px);
  right: 53%;
  top: 47%;
}
.hero-owner-container {
  max-width: 375px;
  width: 100%;
  height: 465.105px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  /* background-color: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%); */
}
.background-hero-image {
  /* width: 100%; */
  display: flex;
  justify-content: center;
}
.hero-owner-yaht {
  display: flex;
  min-width: 287px;
  height: auto;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 190px;
  left: 43px;
  z-index: 1;
}
.hero-clients-block {
  display: flex;
  align-content: stretch;
  flex-wrap: nowrap;
  position: absolute;
  top: 63px;
  left: 38px;
}
/* .hero-clients {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  border: 2px solid #93ABAE;
} */
.hero-client-first {
  width: 48px;
  height: 48px;
  z-index: 5;
}

.hero-client-second {
  width: 48px;
  height: 48px;
  z-index: 4;
  position: relative;
  right: 7px;
}

.hero-client-third {
  width: 48px;
  height: 48px;
  z-index: 3;
  position: relative;
  right: 14px;
}
.clients-text-item {
  color: #11131F;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.56px;
  text-transform: uppercase;
}
.hero-clients-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 61px;
}
.hero-owner-image {
  display: flex;
  position: absolute;
  top: 75px;
  left: 234px;
}
